body {
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 300px auto;
}


.chat {
  width: 300px;
  position: relative;
}

.main__chat {
  margin: 50px auto;
}

.chat__input {
  width: 290px;
  height: auto;
  max-height: 200px;
  padding: 9px;

  box-sizing: border-box;

  outline: 0;
  resize: none;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;

  padding-right: 34px;

  line-height: 18px;
  font-size: 13px;

  border: 1px solid #c5d0db;
  border-radius: 4px;
}

.emoji {
  position: absolute;
  top: 9px;
  right: 24px;
}

.emoji__link {
  display: block;
}

.emoji__link:hover {
  opacity: 0.7;
}

.emoji-helper {
  position: absolute;
  left: 0;
  top: -292px;

  width: 290px;
  height: 280px;

  display: flex;
  flex-direction: column;

  border: 1px solid #c5d0db;
  border-radius: 4px;
}

.emoji-helper::after {
  content: "";
  position: absolute;
  right: 7px;
  bottom: -6px;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ebeef2;
  clear: both;
}

.emoji-tabs {
  height: 36px;
  width: 100%;
  background-color: #ebeef2;
}

.emoji-tabs__tablink {
  display: inline-block;

  border: none;
  margin: 0;
  padding: 0;

  width: 36px;
  height: 36px;

  background-color: transparent;
}

.emoji-tabs__tablink--emojis {
  background: url("./img/IconEmojis.svg") no-repeat center center;
}

.emoji-tabs__tablink--recent {
  background: url("./img/IconRecent.svg") no-repeat center center;
}

.emoji-tabs__tablink--active {
  background-color: #ffffff;
}

.emoji-tabs__tablink:hover {
  cursor: pointer;
}

.emoji-tabs__content {
  flex-grow: 1;
  padding: 5px 9px 0 4px;

  outline: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.emoji-tabs__title {
  margin: 5px 5px 5px 5px;
  padding: 0;

  color: #939393;
  line-height: 15px;
  font-size: 13px;
}

.emoji-list {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.emoji-list__icon {
  display: block;
  width: 26px;
  height: 26px;

  border: none;
  margin: 0;
  padding: 0;

  background-color: transparent;
}

.emoji-list__icon:hover {
  cursor: pointer;
  background-color: #f0f2f5;
}

.placeholder {
  position: absolute;
  left: 10px;
  bottom: 10px;
  pointer-events: none;
}

.placeholder__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #939393;
}

.highlighted {
  color: blue;
}
